* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 99, 99);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 360px;
}

#btn {
    margin-bottom: 5px;
    border-radius:4px;
    font-size: 20px;
    padding: 2px;
}

#inputText {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    font-size: 30px;
}

#text {
    color: whitesmoke;
}